.clientPage {
    height:1425px;
    width:1900px;
    background-size: 1900px 1425px;
    background-image: url('https://img.championat.com/c/1200x900/news/big/m/k/bmw-m3-gtr-iz-need-for-speed_1586771935252102084.jpg');
}