.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.mainInfo {
  text-align: left;
  background-color: cornflowerblue;
  height: 493px;
}

.mainInfo p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: black;
  margin: 0px 0px 0px 0px;
  text-shadow: 1px 1px 0 green, -1px -1px 0 green, 2px 2px green, -2px -2px green;
  transition: 1s;
}

.mainInfo h1{
  margin-left: 50px;
  text-align: center;
}
